openapi: 3.0.3
info:
  title: FCC ECFS Datasets Pirate Radio API
  description: The FCC Electronic Comment Filing System (ECFS) public API provides programmatic access to filings, proceedings, and submissions made to the Federal Communications Commission.
  version: '1.0'
  contact:
    name: FCC Developer
    url: https://www.fcc.gov/reports-research/developers
servers:
- url: https://publicapi.fcc.gov/ecfs
  description: ECFS public API
security:
- apiKey: []
tags:
- name: Pirate Radio
  description: Pirate Radio Broadcasting Database
paths:
  /resource/wgq8-eb5c.json:
    get:
      operationId: listPirateRadio
      summary: Pirate Radio Broadcasting Database
      description: Returns entries from the Pirate Radio Broadcasting Database, identifying entities subject to enforcement actions for unlicensed radio broadcasting under section 511(g) of the PIRATE Act.
      tags:
      - Pirate Radio
      parameters:
      - name: $limit
        in: query
        schema:
          type: integer
          default: 1000
          maximum: 50000
      - name: $offset
        in: query
        schema:
          type: integer
          default: 0
      - name: $where
        in: query
        schema:
          type: string
        description: SoQL filter expression.
      - name: $select
        in: query
        schema:
          type: string
      - name: $order
        in: query
        schema:
          type: string
      - name: $q
        in: query
        schema:
          type: string
        description: Full-text search.
      responses:
        '200':
          description: Pirate radio records
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: api.data.gov API key passed as a query parameter.
